
        
               
    #prayertime_pane{
        /*-fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );*/ 
        -fx-effect: dropshadow( one-pass-box , black , 8 , 0.2 , 2 , 0 );
         -fx-background-color: rgba(0, 0, 0, 0.2); 
         -fx-border-color: black;
	 /*-fx-border-color: rgba(0,0,0,0.15);*/
	 -fx-border-radius: 20;
	 /*-fx-padding: 20 20 20 20;*/
	 -fx-background-radius: 20;
         /*-fx-border-width: 15 15 15 15;*/
/*         -fx-border-image-source: url("../Images/Islamic.png");
         -fx-border-image-slice: 20 20 20 20 repeat;
         -fx-border-image-width: 20 20 20 20;
         -fx-border-image-repeat: round;*/
    }
    
    #donnation_text{
    -fx-font-family: 'Bebas Neue';
    -fx-font-size: 110px;
    -fx-text-fill:white;
    -fx-stroke: black;
    -fx-stroke-width: 1;
}

    #title_text1{
    -fx-font-family: 'AvantGarde-Demi';
    -fx-font-size: 36.5px;
    -fx-text-fill:white;
    -fx-stroke: black;
    -fx-stroke-width: 1;
}

#title_text2{
    -fx-font-family: 'Bebas Neue';
    -fx-font-size: 100px;
    -fx-text-fill:white;
    -fx-stroke: black;
    -fx-stroke-width: 1;
}

#title_text3{
    -fx-font-family: 'AvantGarde-Demi';
    -fx-font-size: 58px;
    -fx-text-fill:white;
    -fx-stroke: black;
    -fx-stroke-width: 1;
}
